header {
    background-color: teal;
}

body {
    background-color: blueviolet;
    color: white;
}

a {
    color: yellow;
}

.personalInfo {
    margin: auto;
    width: 50%;
}

#submitButton {
    margin-left: 1%;
}

.welcome {
    margin: auto;
    width: 50%;
}