<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="css/custom.css">

    <title>About Me Page</title>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
  </head>
  <body>
    <header>
      <!-- Navbar with 4 items including brand-->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">MSIS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="aboutMe.html">About Me</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="table.html">Favorite Books</a>
            </li>
          </ul>
        </div>
      </nav>
      <p>Header exists</p>
    </header>

    <!-- Block of personal information-->
    <!-- <div class="personalInfo" id="uniquePerson" v-if="person">
      <h1>About Me!</h1>
      <h2>My name is {{ person.name.first }} {{ person.name.last }} </h2>
      <a v-bind:href="person.picture.large"><img v-bind:src="person.picture.thumbnail" class="rounded mx-auto d-block" alt="Girl Profile Pic"></a>
      <p>Source for image: https://randomuser.me/</p>
      <p>I'm {{ person.dob.age }}, born on {{ prettyBirthday }}, and am from {{ person.location.country }}.</p>
      <p>Contact me at <a v-bind:href="'mailto:'+person.email">{{ person.email }}</a></p>
      <form v-on:submit.prevent="fetchUserData">
        <button type="submit">Reload</button>
      </form>
    </div> -->
      
    <!-- Class Notes -->
    <div  id="uniquePerson" class="container">
      <div class="row align-items-start">
        <div class="col col-4">
          <!-- <p>Profile information for {{ person.name.first }}</p> -->
          <div v-for="s in students" v-on:click="selectStudent(s)"
           :class="['student', {selected: selectedStudent && s.id == selectedStudent.id}]">
            <span class="userName">{{ s.username }}</span><br>
            <span class="studentName">{{ s.name }}</span>
          </div>
        </div>

        <div  class="col col-8" v-if="selectedStudent">
          <h1>Offers for {{ selectedStudent.name }}</h1>

          <table class="table">
            <thead>
              <tr>
                <th>Company</th>
                <th>Salary</th>
                <th>Bonus</th>
                <th>Offer Date</th>
                <th>Status</th>
              </tr>
            </thead>
              <tbody>
                  <tr v-for="offer in offers">
                      <td>{{ offer.companyName }}</td>
                      <td>{{ prettyDollar(offer.salary) }}</td>
                      <td>{{ prettyDollar(offer.bonus) }}</td>
                      <td>{{ offer.offerDate }}</td>
                      <td></td>
                      <td>
                        <button type="button" v-on:click="handleEditOffer(offer)" class="btn btn-outline-secondary btn-sm">Edit</button>
                        <button type="button" v-on:click="handleDeleteOffer(offer)" class="btn btn-outline-secondary btn-sm">Delete</button>
                      </td>
                  </tr>
              </tbody>
          </table>

          <h3>{{ selectedOffer === null ? "Add" : "Edit" }} Offer</h3>
          <!-- Doesn't refresh page on submit -->
          <form v-on:submit.prevent="postOffer">
            <div class="mb-3">
              <label for="companyName" class="form-label">Company Name</label>
              <input type="text" v-model="offerForm.companyName"
               class="form-control" id="companyName">
            </div>
            <div class="mb-3">
              <label for="salary" class="form-label">Salary</label>
              <input type="number" v-model="offerForm.salary" class="form-control" id="salary">
            </div>
            <div class="mb-3">
              <label for="bonus" class="form-label">Bonus</label>
              <input type="number" v-model="offerForm.bonus" class="form-control" id="bonus">
            </div>
            <div class="mb-3">
              <label for="offerDate" class="form-label">offerDate</label>
              <input type="date" v-model="offerForm.offerDate" class="form-control" id="offerDate">
            </div>
            <button type="submit" class="btn btn-primary">{{ selectedOffer === null ? "Add Offer" : "Edit Offer" }}</button>
            <button type="button" class="btn btn-outline-secondary" v-if="selectedOffer" v-on:click="handleResetEdit">Cancel Edit</button>
          </form>
          <div class="noOffers" v-if="! offers.length">
            <h3>No offers. 😥</h3>
          </div>

        </div>

      </div>
    </div>  
    <!-- Class Notes End -->
    <script src="js/aboutMe.js"></script>
    
  </body>
</html>