<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="css/custom.css">

    <title>Favorite Books Page</title>

    <script src="https://unpkg.com/vue@next"></script>
  </head>
  <body>
    <header>
      <!-- Navbar with 4 items including brand-->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">MSIS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="aboutMe.html">About Me</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="table.html">Favorite Books</a>
            </li>
          </ul>
        </div>
      </nav>
      <p>Header exists</p>
    </header>

    <h1>Favorite Books!</h1>

    <!-- Table with 7 columns and 4 rows-->
    <div class="container" id="uniqueBooks">
      <table class="table" id="sortableTable">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Year Published</th>
            <th scope="col">Publisher</th>
            <th scope="col">Page Count</th>
            <th scope="col">MSRP</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="book in books">
              <td>{{ book.title }}</td>
              <td>{{ book.author }}</td>
              <td>{{ book.yearPublished }}</td>
              <td>{{ book.publisher }}</td>
              <td>{{ book.pages }}</td>
              <td>{{ prettyDollar(book.MSRP) }}</td>
              <td></td>
              <td>
                <button type="button" v-on:click="handleEditBook(book)" class="btn btn-outline-secondary btn-sm">Edit</button>
                <button type="button" v-on:click="postDeleteBook(book)" class="btn btn-outline-secondary btn-sm">Delete</button>
              </td>
          </tr>
        </tbody>
      </table>

    <!-- A form to input new rows for the table. Does not do anything yet.-->
 
      <h3>{{ selectedBook === null ? "Add" : "Edit" }} Book</h3>
      <form v-on:submit.prevent="postBook">
        <div class="form-group col-md-8">
          <label for="inputEmail4">Title</label>
          <input type="text" v-model="bookForm.title" class="form-control" id="inputEmail4" placeholder="Title">
        </div>
        <div class="form-group col-md-8">
          <label for="inputPassword4">Author</label>
          <input type="text" v-model="bookForm.author" class="form-control" id="inputPassword4" placeholder="Author">
        </div>
        <div class="form-group col-md-4">
          <label for="inputAddress">Year Published</label>
          <input type="number" v-model="bookForm.yearPublished" class="form-control" id="inputAddress" placeholder="Year Published">
        </div>
        <div class="form-group col-md-8">
          <label for="inputAddress2">Publisher</label>
          <input type="text" v-model="bookForm.publisher" class="form-control" id="inputAddress2" placeholder="Publisher">
        </div>
        <div class="form-row col-md-8">
          <div class="form-group col-md-4">
            <label for="inputCity">Page Count</label>
            <input type="number" v-model="bookForm.pages" class="form-control" id="inputCity" placeholder="Page Count">
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">MSRP</label>
            <input type="number" v-model="bookForm.MSRP" class="form-control" id="inputState" placeholder="MSRP">
          </div>
        </div>
        <button type="submit" class="btn btn-primary">{{ selectedBook === null ? "Add" : "Edit" }} Book</button>
        <button type="button" class="btn btn-outline-secondary" v-if="selectedBook" v-on:click="handleResetEdit">Cancel Edit</button>
      </form>
    </div>

    <script src="js/tablesort.min.js"></script>
    <script src="js/book.js"></script>
    <!-- Tablesort from plugin https://github.com/tristen/tablesort -->
    <script>
      new Tablesort(document.getElementById('sortableTable'));
    </script>
  </body>
</html>